# 미션

## 1. 아래에 선언된 문자형 변수를 추출하여, 과목, 이름, 일자를 딕셔너리 형태로 출력하시오.
     - dict1 = {'과목':'Python','이름':'홍길동','일자':'20240701'}

In [50]:
dict1 = {'과목':'Python','이름':'김우진','일자':'20240617'}
list1 = dict1.keys()
list2 = dict1.values()

In [49]:
result1=dict(zip(list1,list2))
result1

{'과목': 'Python', '이름': '김우진', '일자': '20240617'}

## 2. 키와 몸무게를 입력받아 BMI 수치를 계산하는 코드를 작성하고, 새로운 값을 입력할 때마다, result_list에 결과를 추가하시오.
    - 조건 : 새로운 값을 입력 할 때 마다 기존의 데이터가 삭제되지 않고 추가되어야 합니다.
    - 신체질량지수(BMI) = 체중(kg) / [신장(m)]2

In [54]:
result_list =[]

In [56]:
height = float(input('키를 입력하시오'))
weight = int(input('몸무게를 입력하시오'))

BMI = float(weight/height**2)

result_list.append(BMI)
result_list

키를 입력하시오 180
몸무게를 입력하시오 90

[0.002777777777777778, 0.002777777777777778]

## 3. 아래의 문자열을 리스트로 변환하시오.
    - Music is my life -> ['Music','Is','My','Life']

In [60]:
str1 = "Music is my life"

list = str1.split(' ')

print(list)

['Music', 'is', 'my', 'life']

## 4. 아래 선언된 튜플에 80 이라는 값을 추가하여 출력하시오.
    - t1 = (13,234,53,22,35)

In [19]:
t1 = (13,234,53,22,35) 

list(t1)

[13, 234, 53, 22, 35]

In [21]:
t1

(13, 234, 53, 22, 35)

In [23]:
list2= list(t1)
list2

[13, 234, 53, 22, 35]

In [24]:
list2.append(80)

In [25]:
tuple(list2)

(13, 234, 53, 22, 35, 80)

## 5. 아래의 리스트에서 A 문자를 C 문자로 바꾸어 출력하시오.
    - list1 = ['A', 123, 'B', 'D', 'F']

In [28]:
list1 = ['A', 123, 'B', 'D', 'F']
list1[0]='C'
list1

['C', 123, 'B', 'D', 'F']

## 6. 아래 두 개의 리스트에서 중복된 값을 제거하여 출력하시오.
    - list1 = [1,2,3,4,5,6,7,8,9]
    - list2 = [2,4,6,7,8,9]
    - 결과 : [1,3,4,5]

In [32]:
list1 = [1,2,3,4,5,6,7,8,9]
list2 = [2,4,6,7,8,9]

set(list1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [33]:
set(list2)

{2, 4, 6, 7, 8, 9}

In [37]:
set1= set(list1)
set2= set(list2)

set1 - set2

{1, 3, 5}