# Jupyter Notebook 사용법
- cell : 코드나 마크다운을 작성하는 하나의 상자
- markdown mode : 마크다운이란 마크업 언어의 일종이다

- [Shift]+[Enter] :셀 실행
- [Alt] + [Enter] : 하단에 셀을 하나 추가하며 실행
- [Esc] + [M] : 마크다운모드로 변경
- [Esc] + [R] : Raw 모드로 변경

## 단축키

- [Esc] : command mode
- [A] : above 상단에 셀 추가
- [B] : below 하단에 셀 추가
- [X ] : 잘라내기
- [v] : 붙여넣기
- [DD] : 삭제
- [Z] : 실행취소

- [Ctrl] + [S] : 저장
- [Ctrl] + [/] : 주석모드
-

# 파이썬 기초 문법

In [1]:
data = 300
data

300

# 데이터 타입
- 데이터 타입에 따라서 분석하는 방법이 달라짐
- 숫자형 : int (정수형) / float (실수형)
- 문자형 : str (문자열) / object (범주형)
- 논리형 : bool True / False

In [2]:
int(3.1)

3

In [3]:
int1 =3

In [4]:
type(int1) #type() : 데이터 타입을 확인할 수 있는 함수

int

In [5]:
bool1 = True
bool

bool

In [6]:
True & False # And

False

In [7]:
True and False

False

In [8]:
True | False

True

## 연산

- 데이터 타입에 따라 연산 방법이 달라짐

In [9]:
data1 = 5
data2 =3

data1 - data2
data1 * data2
data1 / data2
data1**2

25

In [10]:
data1 // 2 # 2로 나눈 몫

2

In [11]:
data1 % 2 #2로 나눈 나머지

1

In [12]:
# 문자 데이터 연산
data3 = 'python'
data4 = 'data'

data3 + data4

'pythondata'

In [13]:
data3 + ' ' + data4

'python data'

In [14]:
data3 *3

'pythonpythonpython'

In [15]:
data3 > data4 # 알파벳 순서상 뒤에 위치한 값이 더 큼

True

In [16]:
print(33) #

33

In [17]:
print(data4)
data3 # print 함수를 사용하여 둘 다 확인할 수 있다

data

'python'

In [18]:
data5 = '가나다'
data6 = '양산'

data5+ data6

'가나다양산'

## 논리형 연산

In [19]:
3==4 # 등호를 두개 사용하여 비교하는 연산

False

In [20]:
data6 =13
data7 =14

data6 > data7

False

In [21]:
data6>=data7 # 크거나 같냐

False

# 자료구조

- 데이터를 담는 폴더의 형식
- List []
- Tuple()
- Set {}
- Dictionary {'key1' : 'value1',}

# 리스트

- [대 괄호] 로 구성
- 데이터의 순서가 존재
- 중복값 허용
- 데이터의 수정 가능

In [22]:
list1 = [1,2,3,4,5]
list1

[1, 2, 3, 4, 5]

In [23]:
type(list1)

list

In [24]:
list2 = [1,4,2,5]
list2 # 데이터 순서가 있어서 오름차순/ 내림 차순 하지 않음

[1, 4, 2, 5]

In [25]:
list3 = ['a','b','c',1,2,3]
list3 # 여러 종류의 데이터 사용 가능

['a', 'b', 'c', 1, 2, 3]

In [26]:
# 인덱싱
list3[0]

'a'

In [27]:
list3[-1]

3

In [28]:
# 슬라이싱 
#[n,m] : n부터 m-1까지 호출 
list3[0:2]

['a', 'b']

In [29]:
# 데이터 추가 / 변경 / 삭제
list5 = ['국어','영어','수학']

In [30]:
list5.append('체육')
list5

['국어', '영어', '수학', '체육']

In [31]:
list5.insert(0,'과학')

list5

['과학', '국어', '영어', '수학', '체육']

In [32]:
list5.remove('수학')
list5

['과학', '국어', '영어', '체육']

# Tuple 튜플
- (소 괄 호)로 구성
- 중복값을 허용
- 데이터 수정 불가

In [33]:
tuple1 = (1,2,3)

In [34]:
type(tuple1)

tuple

In [35]:
list(tuple1)

[1, 2, 3]

In [36]:
tuple1 # list로 변환해주기 위해 새로운 변수로 지정해야함

(1, 2, 3)

In [37]:
list2= list(tuple1)
list2

[1, 2, 3]

In [38]:
list2[0]=0
list2

[0, 2, 3]

In [39]:
tuple(list2)

(0, 2, 3)

# Set 세트
- {중 괄 호 } 로 구성
- 데이터 수정 가능
- 집합 연산이 가능

In [40]:
set1 = {5,1,1,2,3,4,}
set1 # 중복 안됨 , 순서 없음

{1, 2, 3, 4, 5}

In [41]:
len(set1) #length : 몇개의 데이터가 있는지 확인하는 함수

5

In [42]:
# 집합 연산
set2 = {2,4,5,6,7}
set3 = {1,3,4,6,8}

# 교집합
set2 & set3

{4, 6}

In [43]:
# 합집합 
set2 | set3

{1, 2, 3, 4, 5, 6, 7, 8}

In [44]:
set2 - set3 # 차집합

{2, 5, 7}

In [45]:
set2 ^ set3 #대상 차집합

{1, 2, 3, 5, 7, 8}

# Dictionarty 딕셔너리
- Key 와 Value 쌍으로 구성
- {'kety1' : 'value1' , 'key2':'value2', ...}
- 순서는 Key 기준으로 정렬
- 정형데이터의 기본 구성 요소

In [46]:
dict1 = {'이름' : '홍길동' , '나이' : 23}
dict1

{'이름': '홍길동', '나이': 23}

In [47]:
dict1['이름']

'홍길동'

In [48]:
dict1['나이']

23

In [49]:
dict1.keys()

dict_keys(['이름', '나이'])

In [50]:
dict1.values()

dict_values(['홍길동', 23])

In [51]:
# 새로운 데이터 추가
dict1['지역'] = ['서울']
dict1

{'이름': '홍길동', '나이': 23, '지역': ['서울']}

In [52]:
list1=['이름','나이','지역']
list2 = ['이기철' ,18,'검정고무신']

dict(zip(list1,list2))

{'이름': '이기철', '나이': 18, '지역': '검정고무신'}

# 문자열 처리
- 문자 데이터에 대한 다양한 처리
- 정형데이터 뿐 아니라 자연어 처리에서도 다양하게 사용되는 함수들이 존재

In [53]:
# 문자 데이터는 따옴표 / 쌍따옴표 / 따옴표 3개를 이용해서 표현
'파이썬 데이터 분석'

'파이썬 데이터 분석'

In [54]:
'''
중간에 있는 텍스트도 모두 출력


'''

'\n중간에 있는 텍스트도 모두 출력\n\n\n'

In [55]:
print('''
중간에 있는 텍스트 모두 출력
''') # print의 경우 \n 을 출력하지 않음

중간에 있는 텍스트 모두 출력

In [56]:
'"안녕하세요" 하고 속으로 생각했다' #따옴표를 구분하여 사용할 수 있다

'"안녕하세요" 하고 속으로 생각했다'

In [57]:
str1 = '오늘은 날이 맑습니다'
len(str1) # 띄어쓰기까지 포함하여 몇 글자인지 출력

11

In [58]:
# 인덱싱
str1[0]

'오'

In [59]:
# 슬라이싱
str1[0:3]

'오늘은'

In [60]:
str1[-4 : -1] #m-1은 출력하지 않는다

'맑습니'

In [61]:
str1[-1]

'다'

In [62]:
# 포맷팅 

mbti = 'istp'
blood_type = 'rh+b'

f' 안녕하세요 제 mbti는 {mbti} 입니다'

' 안녕하세요 제 mbti는 istp 입니다'

In [63]:
'안녕하세요 제 mbti는 ' +mbti+ '입니다'

'안녕하세요 제 mbti는 istp입니다'

In [64]:
blood_type

'rh+b'

In [65]:
# 특정 문자 개수를 세야하는 경우
str3 = 'hello python data analysis'
str3.count('1')

0

In [66]:
str3.count('data')

1

In [67]:
str3.upper()

'HELLO PYTHON DATA ANALYSIS'

In [68]:
str3.lower()

'hello python data analysis'

In [69]:
str3.find('l')

2

In [70]:
# input

input()

 10

'10'

In [71]:
input1 =input()
input1

 12

'12'

In [72]:
input2 =input()

 11

In [73]:
type(input2)

# input() 함수는 디폴트로 str 데이터 타입으로 받아온다

str

In [74]:
input3 = int(input())
type(input3)

 13

int

In [75]:
name1 = input()
type1 = input()

input_dict = {name1 : type1}

 12
 14

In [76]:
input_dict

{'12': '14'}

# 파이썬 구문
- 특정 코드 반복, 조건 만족 시 발동되도록 구성
- 조건문 / 반복문
- 예외처리

## 조건문
- if /elif /else
- in /not in
- pass

In [77]:
data1 = 25
if data1 > 30:
    print('30보다 크다')
elif data1 == 50:
    print('50입니다.')
else : 
    print('30보다 작다')

30보다 작다

In [78]:
data2 = 80

if data2 >= 90:
    print('A')
elif data2 >= 80:
    print('B')
elif data2 >=70:
    print('C')
else:
    print('F')

B

In [79]:
# 문자열이 들어간 조건문

# in : 문자열 조건문에 주로 사용된다.

data3 = 'python 데이터 분석'
if 'java' in data3:
    print('java')
elif 'python' in data3:
    print('python')

else : 
    print('R')

python

In [80]:
data3 = 'python 데이터 분석'
if 'java' not in data3:
    print('java')
elif 'python' in data3:
    print('python')

else : 
    print('R')

# python 문자열이 data3에 들어가 있지만,
# 첫번째 조건을 지난 후 코드가 종료됩니다.

java

In [81]:
data3 = 'python 데이터 분석'
if 'java' not in data3:
    print('java')
if 'python' in data3:
    print('python')

else : 
    print('R')

# 둘 다 확인하고 싶은 경우
# if를 두 번 사용

java
python

In [82]:
data4 = [1,2,3,4,7]

if 3 in data4 : 
    data4.remove(3)
    print(data4)

if 7 in data4:
    data4.append(8)
    print(data4)

[1, 2, 4, 7]
[1, 2, 4, 7, 8]

In [83]:
# pass
# 실행할 코드가 없다면 pass

data5 = [1,2,3]
if 1 in data5:
    pass
elif 2 in data5:
    print(2)

In [84]:
data7 = 25
data6 = 'A' if data7 > 30 else 'B'
data6

'B'

# 반복문
- while
- for

In [85]:
data6 =200
while data6 > 50:
    print('go')
    break   #

go

In [86]:
data7 = 0
while data7 < 10:
    data7 =data7 + 1
    print(data7)

1
2
3
4
5
6
7
8
9
10

In [87]:
data7 = 0
while data7 < 10:
    data7 += 1
    print(data7)

1
2
3
4
5
6
7
8
9
10

In [88]:
# countinue
# 조건 초기화
# 해당 조건을 만나면 이후의 코드를 실행하치 않고 처음으로 돌아감

data8 = 0
while data8 < 5:
    data8 +=1
    if data8 == 4:
        continue
    print(data8)

1
2
3
5

In [89]:
# for문

toystory = ['alien','buzz','woody','alien']

for claw in toystory:
    print(claw)

alien
buzz
woody
alien

In [90]:
toystory = ['alien','buzz','woody','alien']

for claw in toystory:
    if claw == 'buzz' : 
        print('to infinity')
    elif claw == 'woody':
        print('snake in my boots')
    elif claw == 'alien' :
        print('woooo')

woooo
to infinity
snake in my boots
woooo

In [91]:
# range()
for i in range(0,5):
    print(i)
# range(n,m) : n ~ m-1 까지 숫자를 생성

0
1
2
3
4

In [92]:
list1 = ['a','b','c',1,2,3]
for i in range(len(list1)):
    print(list1[i])

a
b
c
1
2
3

In [93]:
for i in [1,2,3]:
    print(i*3)

3
6
9

In [94]:
data9 = [(1,2,),(3,4),(5,6)]
for i , j in data9:
    print(i,j)
    print(i+j)

1 2
3
3 4
7
5 6
11

In [95]:
data10 = []
for i in range(0,6) :
    data10.append(i)

data10

[0, 1, 2, 3, 4, 5]

In [96]:
list1 = [1,2,3,3,2,1]
for i in range(len(list1)-1):
    print(list1[i] + list1[i+1])

3
5
6
5
3

In [97]:
# 리스트 컴프리헨션
# 리스트를 생성할 때 조건문으로 변수를 생성할 수 있다.
data11=[x for x in range(0,6)]
data11

[0, 1, 2, 3, 4, 5]

In [98]:
[x for x in range(0,11) if x % 2 ==0]
# 1~11까지 중 짝수인 값만 리스트로 생성

[0, 2, 4, 6, 8, 10]

In [99]:
[(x,y) for x in [1,2,3] for y in ['a','b','c']]

[(1, 'a'),
 (1, 'b'),
 (1, 'c'),
 (2, 'a'),
 (2, 'b'),
 (2, 'c'),
 (3, 'a'),
 (3, 'b'),
 (3, 'c')]

In [100]:
data12 = [1,10,100,1000]
result1 = 0

for i in data12 : 
    result1 = result1 + i
    print(result1)

1
11
111
1111

# 예외처리 , 크롤링 할 때 주로 사용
- try : 시도하려는 코드
- except : try가 에러가 났을 때 실행하는 코드
- finally : 에러의 유무에 관계없이 최정적으로 실행하게 되는 코드

In [101]:
try : # 시도하려는 코드
    data13 = []
    for i in range(1,6):
        data13.append(i)
    print('no error')

except: #에러나는 경우 except 이하의 코드가 실행됨
    print('error')

finally :
    print(data13)
    print('done')

no error
[1, 2, 3, 4, 5]
done

In [102]:
try:
    data13 =[]
    for i in range(1,6):
        data13.remove(1)
        data13.append(i)
    print('no error')

except:
    print('error')

finally:
    print(data13)
    print('done')

error
[]
done

In [103]:
try:
    data13 = []
    for i in range(1,6):
        data13.remove(1)
        data13.append(i)
    print('no error')
except Exception as e:
    print('error',e)

finally:
    print(data13)
    print('done')

#에러 발생 및 에러 메시지 출력

error list.remove(x): x not in list
[]
done

함수

In [104]:
list1 = [1,3,5]
sum(list1)

9

In [105]:
def func1():
    print('hello')

In [106]:
func1()

hello

In [107]:
def func2(x):
    return x +200

In [108]:
func2(100)

300

In [109]:
def func3(x):
    if x >= 90:
        return 'A'
    elif x >= 80:
        return 'B'
    elif x >= 70:
        return 'B'
    else :
        return 'F'

In [110]:
func3(87)

'B'

In [111]:
# 이름과 성적을 입력 받는 경우

def func3(name,x):
    if x>= 90:
        return f'{name}의 점수는 {x}이고, 성적은 "A"입니다.'
    elif x>= 80:
        return f'{name}의 점수는 {x}이고 , 성적은"B"입니다.'

In [112]:
# 몇 개의 인자를 입력 받을지 모르는 경우'
# *args

def func4(*args):
    return (sum(args))

func4(1,3,5,7,9)

25

In [113]:
# 함수의 초기값을 설정
def func5(x1,x2,x3=2):
    return(x1+x2)/x3

func5(1,2)

1.5

In [114]:
func5(1,2,5)
# 초기값도 변경이 가능하다.

0.6

In [115]:
# 재귀함수
def recurse1(x):
    if x>20 :
        print('end')
    else:
        print(x)
        recurse1(x+3)

In [116]:
recurse1(3)

3
6
9
12
15
18
end

In [117]:
# 기저조건 : 재귀함수 생성 시 기저조건을 설정하여 언제 멈출지 지정해야한다.
def fibo(i) :
    if i== 1 or i ==2:
        return 1
    else :
        return fibo(i-1) + fibo(i-2)

In [118]:
fibo(10)

55

# 파이썬 내장함수 및 라이브러리
- 내장함수 : 파이썬에서 제공하는 함수
- 외부 라이브러리 : 각 소프트웨어 개발업체/ 개발자들이 만든 라이브러리 , 인터넷을 통해 다운받아야함

In [119]:
# 입출력 관련 함수
input('특정 값을 입력받을 수 있는 함수')

특정 값을 입력받을 수 있는 함수 123

'123'

In [120]:
num1 = input()
type(num1)

 123

str

In [121]:
num2 = int(input())
type(num2)

 4213

int

In [122]:
sum([1,3,4]) #합 함수

8

In [123]:
abs(-27) #절대값을 반환

27

In [124]:
list1 = [1,5,-1,5,7,4] 
sorted(list1) # 오름차순 정렬

[-1, 1, 4, 5, 5, 7]

In [125]:
sorted(list1,reverse=True) # 내림차순

[7, 5, 5, 4, 1, -1]

In [126]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [127]:
#enumerate
#인덱스 생성해주는 함수

index_list = []
value_list = []

for i,j in enumerate(['a','b','c']):
    index_list.append(i)
    value_list.append(j)

print(index_list)
print(value_list)

[0, 1, 2]
['a', 'b', 'c']

In [128]:
dict(zip(index_list,value_list))

{0: 'a', 1: 'b', 2: 'c'}

In [129]:
dict1 = dict(zip(index_list,value_list))

In [130]:
import random

#import : 항상 사용하지 않고 , 필요할 때만 불러오는 함수

In [132]:
sum(index_list) # sum은 import 하지 않아도 작동함

3

In [134]:
random.randint(0,30)

17

In [136]:
[random.randint(0,5) for _ in range(5)]

[2, 2, 5, 0, 1]

# 패키지와 모듈
- 패키지 (라이브러리) : 모듈의 집합
- 모듈 : 함수 / 클래스 집합
- 함수 : 특정 기능을 수행하기 위한 코드의 집합
- 클래스 : 함수를 찍어내는 틀

In [138]:
import modul1

In [139]:
modul1.mean_func([1,2,3])

2.0

In [141]:
modul1.sum_func([4,5,6])

15

In [142]:
from modul1 import *

In [144]:
sum_func([1,2,3,4,5]) # modul1. 을 쓰지 않아도 작동한다.

15

In [145]:
# 패키지
import package1

In [147]:
package1.package_version()

1.0

In [148]:
from package1 import modul2

In [149]:
modul2.hellofunc()

hello

In [150]:
# 라이브러리 / 패키지 : 모듈의 집합
# 모듈 : 함수의 집합 / 클래스

# 클래스 class
- 특정 함수를 반복하여 사용하거나 함수의 결괏값을 계속 유지하고자 할 때
- 클래스를 사용한다

In [151]:
# 클래스 : 아이스크림
# 함수 : 죠스바

In [152]:
# 전역변수 global : 함수 밖에서도 호출할 수 있는 변수
# 지역 변수 local : 함수 내에서만 존재하는 일시적인 변수

In [157]:
# home 내의 role1이 지역변수이다.
role1 = '은행원'

def home(): 
    role1 = '남편'
    return role1

print(role1)

home()
print(home())

print(role1)

은행원
남편
은행원

In [162]:
# home2 의 role2 는 전역변수이기에 기존 role2를 덮어쓸 수 있다.
role2= '소방관'

def home2():
    global role2
    role2 = '아버지'
    return role2

print(role2)

home2()
print(home2())

print(role2)

소방관
아버지
아버지

In [163]:
result1 = 0

def func1(x):
    global result1
    result1 += x
    return result1

In [164]:
result1

0

In [167]:
func1(30)

60

In [171]:
result1

60

In [174]:
ice_sell = 0

def icecream1(name,sell):
    global ice_sell
    ice_sell += sell
    return ice_sell

#아이스크림을 몇 개 팔았나 기록하는 함수

In [176]:
jaws = icecream1('jasw',30)
print(jaws)

jaws = icecream1('jaws',40)
print(jaws)

jaws = icecream1('jaws',30)
print(jaws)

60
100
130

In [177]:
babamba = icecream1('babama',30)
babamba

160

In [178]:
#바밤바를 위한 함수를 다시 만들어야함
# 비효율적이다

# 그래서 클래스를 사용합니다.

In [183]:
class new_icecream():
    def __init__(self,name):
        self.name = name
        self.total_sell = 0

    def record_sell(self,sell):
        self.total_sell += sell
        return self.total_sell

In [184]:
jasw = new_icecream('jaws')
jasw.record_sell(30)
jasw.record_sell(80)

110

In [185]:
bbb = new_icecream('bbb')
bbb.record_sell(50)
bbb.record_sell(80)

130

In [186]:
class new_ice2():
    def __init__(self):
        self.total_sell = 0
    def record_sell(self,sell):
        self.total_sell += sell
        return self.total_sell

#name 값은 생략

In [187]:
screwbar = new_ice2()

In [188]:
screwbar.record_sell(100)
screwbar.record_sell(200)

300